$color-primary-100: #d6e4ff;
$color-primary-200: #adc8ff;
$color-primary-300: #84a9ff;
$color-primary-400: #6690ff;
$color-primary-500: #3366ff;
$color-primary-600: #254edb;
$color-primary-700: #1939b7;
$color-primary-800: #102693;
$color-primary-900: #091a7a;
$color-primary-transparent-100: rgba(51, 102, 255, 0.08);
$color-primary-transparent-200: rgba(51, 102, 255, 0.16);
$color-primary-transparent-300: rgba(51, 102, 255, 0.24);
$color-primary-transparent-400: rgba(51, 102, 255, 0.32);
$color-primary-transparent-500: rgba(51, 102, 255, 0.4);
$color-primary-transparent-600: rgba(51, 102, 255, 0.48);
$color-success-100: #f0fdd2;
$color-success-200: #defca6;
$color-success-300: #c4f778;
$color-success-400: #aaef56;
$color-success-500: #83e522;
$color-success-600: #65c418;
$color-success-700: #4ba411;
$color-success-800: #35840a;
$color-success-900: #256d06;
$color-success-transparent-100: rgba(131, 229, 34, 0.08);
$color-success-transparent-200: rgba(131, 229, 34, 0.16);
$color-success-transparent-300: rgba(131, 229, 34, 0.24);
$color-success-transparent-400: rgba(131, 229, 34, 0.32);
$color-success-transparent-500: rgba(131, 229, 34, 0.4);
$color-success-transparent-600: rgba(131, 229, 34, 0.48);
$color-info-100: #d8fafe;
$color-info-200: #b2f0fe;
$color-info-300: #8be2fe;
$color-info-400: #6ed1fd;
$color-info-500: #3fb7fc;
$color-info-600: #2e8fd8;
$color-info-700: #1f6cb5;
$color-info-800: #144c92;
$color-info-900: #0c3678;
$color-info-transparent-100: rgba(63, 183, 252, 0.08);
$color-info-transparent-200: rgba(63, 183, 252, 0.16);
$color-info-transparent-300: rgba(63, 183, 252, 0.24);
$color-info-transparent-400: rgba(63, 183, 252, 0.32);
$color-info-transparent-500: rgba(63, 183, 252, 0.4);
$color-info-transparent-600: rgba(63, 183, 252, 0.48);
$color-warning-100: #fff9d1;
$color-warning-200: #fff3a3;
$color-warning-300: #ffea75;
$color-warning-400: #ffe252;
$color-warning-500: #ffd419;
$color-warning-600: #dbb112;
$color-warning-700: #b7900c;
$color-warning-800: #937107;
$color-warning-900: #7a5b04;
$color-warning-transparent-100: rgba(255, 212, 25, 0.08);
$color-warning-transparent-200: rgba(255, 212, 25, 0.16);
$color-warning-transparent-300: rgba(255, 212, 25, 0.24);
$color-warning-transparent-400: rgba(255, 212, 25, 0.32);
$color-warning-transparent-500: rgba(255, 212, 25, 0.4);
$color-warning-transparent-600: rgba(255, 212, 25, 0.48);
$color-danger-100: #ffe8d2;
$color-danger-200: #ffcca4;
$color-danger-300: #ffa978;
$color-danger-400: #ff8756;
$color-danger-500: #ff4f1e;
$color-danger-600: #db3215;
$color-danger-700: #b71b0f;
$color-danger-800: #930909;
$color-danger-900: #7a050e;
$color-danger-transparent-100: rgba(255, 79, 30, 0.08);
$color-danger-transparent-200: rgba(255, 79, 30, 0.16);
$color-danger-transparent-300: rgba(255, 79, 30, 0.24);
$color-danger-transparent-400: rgba(255, 79, 30, 0.32);
$color-danger-transparent-500: rgba(255, 79, 30, 0.4);
$color-danger-transparent-600: rgba(255, 79, 30, 0.48);
